<section class="section" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-xs-12">
        <div class="left-text-content">
          <div class="section-heading">
            <h6>About Us</h6>
            <h2>Quality Asheville Desserts</h2>
          </div>
          <p>
            Lilly May's is committed to offering large and small format hand
            crafted desserts made from locally sourced and sustainable
            ingredients by passionate human beings. Lilly May's is here to make
            your special occasion that much more special with a little something
            sweet. Whether you are having a formal office brunch and need coffee
            service and pastries, a lavish wedding with a large dessert table,
            or a baby shower brunch with yogurt jars and cupcakes, we are here
            to provide you with the highest quality sweets and the highest
            quality service.
          </p>
          <p>
            Locacted in Asheville, North Carolina, Lilly May's is created by Heather Gressett, one
            of <a href="https://avltoday.6amcity.com/female-chefs-asheville/">Asheville's top pastry chefs</a>.
          </p>
          <div class="row">
            <div class="col-4">
              <img src="assets/images/about-thumb-01.jpg" alt="" />
            </div>
            <div class="col-4">
              <img src="assets/images/about-thumb-02.jpg" alt="" />
            </div>
            <div class="col-4">
              <img src="assets/images/about-thumb-03.jpg" alt="" />
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-xs-12">
        <div class="right-content">
          <div class="thumb">
            <img src="assets/images/heather.jpg" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>