<section class="section" id="reservation">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 align-self-center">
        <div class="left-text-content">
          <div class="section-heading">
            <h6>Contact Us</h6>
            <h2>Contact us for catering options</h2>
          </div>
          <p>
            To place a catering order, contact us using one of the methods down below.
          </p>
          <div class="row">
            <div class="col-lg-6">
              <div class="phone">
                <i class="fa fa-phone"></i>
                <h4>Phone Number</h4>
                <span>
                  <a href="tel:805-4500645">805-450-0645</a>
                </span>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="message">
                <i class="fa fa-envelope"></i>
                <h4>Email</h4>
                <span
                  ><a href="heather@lillymaysdesserts.com">heather@lillymaysdesserts.com</a>
                   </span
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
