<section class="section" id="grid">
  <div class="container">
    <div class="section-heading">
      <h6>Gallery</h6>
    </div>
    <div class="row">
      <div class="column">
        <a href="assets/images/grid-01.jpg">
          <img src="assets/images/grid-01.jpg" alt="" />
        </a>
        <a href="assets/images/grid-02.jpg">
          <img src="assets/images/grid-02.jpg" alt="" />
        </a>
        <a href="assets/images/grid-03.jpg">
          <img src="assets/images/grid-03.jpg" alt="" />
        </a>
        <a href="assets/images/grid-04.jpg">
          <img src="assets/images/grid-04.jpg" alt="" />
        </a>
      </div>
      <div class="column">
        <a href="assets/images/grid-05.jpg">
          <img src="assets/images/grid-05.jpg" alt="" />
        </a>
        <a href="assets/images/grid-06.jpg">
          <img src="assets/images/grid-06.jpg" alt="" />
        </a>
        <a href="assets/images/grid-07.jpg">
          <img src="assets/images/grid-07.jpg" alt="" />
        </a>
        <a href="assets/images/about-02.jpg">
          <img src="assets/images/about-02.jpg" alt="" />
        </a>
      </div>
      <div class="column">
        <a href="assets/images/grid-09.jpg">
          <img src="assets/images/grid-09.jpg" alt="" />
        </a>
        <a href="assets/images/grid-10.jpg">
          <img src="assets/images/grid-10.jpg" alt="" />
        </a>
        <a href="assets/images/grid-11.jpg">
          <img src="assets/images/grid-11.jpg" alt="" />
        </a>
        <a href="assets/images/about-03.jpg">
          <img src="assets/images/about-03.jpg" alt="" />
        </a>
      </div>
      <div class="column">
        <a href="assets/images/grid-13.jpg">
          <img src="assets/images/grid-13.jpg" alt="" />
        </a>
        <a href="assets/images/grid-14.jpg">
          <img src="assets/images/grid-14.jpg" alt="" />
        </a>
        <a href="assets/images/about-01.jpg">
          <img src="assets/images/about-01.jpg" alt="" />
        </a>
      </div>
    </div>
  </div>
</section>
