<div id="top">
  <div class="text-center">
    <img class="mx-auto d-block" src="/assets/images/logo.jpg" alt="" />
    
    <a href="https://www.etsy.com/shop/Lillymaysdesserts" class="mt-5 btn btn-danger mx-auto scroll-to-section">
      Order on Etsy
    </a>
    <a href="#reservation" class="mt-5 btn btn-outline-danger mx-auto scroll-to-section">
      Contact Us
    </a>
    <div class="top-social">
        <a aria-label="Etsy" href="{{site.links.etsy}}"><i class="fab fa-etsy"></i></a>
        <a aria-label="Facebook" class="p-5" href="{{site.links.facebook}}"><i class="fab fa-facebook"></i></a>
        <a aria-label="Instagram" href="{{site.links.instagram}}"><i class="fab fa-instagram"></i></a>
    </div> 
  </div>
</div>
