---
import config from "../config.json";
---

<div id="top">
  <div class="text-center">
    <img
      class="mx-auto d-block img-fluid"
      src="/images/logo2.webp"
      width="400px"
      alt="Lilly May's Desserts logo - handcrafted gourmet dessert catering in Asheville, North Carolina"
    />
    <a
      href="#reservation"
      class="mt-5 btn btn-danger mx-auto scroll-to-section"
    >
      Contact Us
    </a>
    <div class="top-social">
      <a aria-label="Etsy" href={config.links.etsy}
        ><i class="fab fa-etsy"></i></a
      >
      <a aria-label="Facebook" class="m-5" href={config.links.facebook}
        ><i class="fab fa-facebook"></i></a
      >
      <a aria-label="Instagram" href={config.links.instagram}
        ><i class="fab fa-instagram"></i></a
      >
    </div>
  </div>
</div>
